/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f0f1;
    /* background-image: url('media/bom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    color: #333
}

header {
    /* display: flex; */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-image {
    width: 100px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Add spacing between the image and text */
}


/* Header title */
.header-title {
    font-size: 28px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
}

/* Header description */
.header-description {
    font-size: 18px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
}

h1 {
    margin: 0;
    font-size: 36px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    
}

p {
    margin-top: 5px;
    font-size: 18px;
}

section {
    margin: 20px auto; /* Auto margin horizontally to center */
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    max-width: 70%;
    background-color: #333;
    color: #fff
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
    margin-top: auto;
    border-radius: 5px;
}


/* Adjust the layout of videos to appear side by side */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    width: 30%; /* Adjust the width as needed to control the spacing between videos */
    margin: 10px;
    text-align: center;

}

.top-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-navigation li {
    display: inline;
    margin-right: 15px;
}

.top-navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.top-navigation a:hover {
    text-decoration: underline;
}

a {
    color: lightblue; /* Light blue color */
    text-decoration: none;
    /* Add other link styles as needed */
}


header img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* margin-right: 10px; Add spacing between the image and your name */
}

/* Navigation list */
.nav-list {
    list-style-type: none;
    padding: 0;
}

/* Navigation item */
.nav-item {
    display: inline-block;
    margin-right: 20px;
}

/* Navigation link styles */
.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px; /* Adjust as needed */
}

/* Navigation link hover effect */
.nav-item a:hover {
    text-decoration: underline;
}

/* Add contact form styles here */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add some padding for spacing */
    box-sizing: border-box; /* Ensure padding doesn't increase the element's size */
    width: 100%; /* Make the inputs and textarea take up the full width of the parent container */
    resize: none
}

.contact-form textarea {
    height: 150px; /* Adjust the height as needed */
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555; /* Adjust the hover color as needed */
}


.education-item, .experience-item {
    margin-bottom: 20px;
    
}

.education-item h3, .experience-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Project Styles */
.project-item {
    margin-bottom: 40px;
}

.project-image {
    text-align: center; /* Center the image horizontally */
}

.project-image img {
    max-width: 50%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 10px auto; /* Center the image and add spacing around it */
}

.project-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Publications Styles */
.publication-item {
    margin-bottom: 40px;
}

.publication-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0; /* Remove default padding on lists */
}

section#about {
    text-align: justify;
    margin: 10 auto;
    max-width: 30%; /* Limit the content to 50% of the screen width */
}

section#contact {
    text-align: justify;
    margin: 10 auto;
    max-width: 30%; /* Limit the content to 50% of the screen width */
}

li {
    font-size: 18px; /* Adjust the font size as needed */
}



.skills-section {
    background-color: #333;
    color: #fff;
    padding: 40px;
    max-width: 70%;
    text-align: left; /* Align skills text to the left */
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-circle {
    background-color: #fff; /* Circular box background color */
    color: #333; /* Circular box text color */
    border-radius: 50%; /* Makes the box circular */
    width: 40px; /* Circular box width */
    height: 40px; /* Circular box height */
    font-size: 20px; /* Adjust the font size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Spacing between the circular box and text */
}

.skill-description {
    font-size: 18px; /* Adjust the font size as needed */
}